@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: url("./assets/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200vh;

}

.ecran {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .carte {
        margin-top: 8%;
        margin-bottom: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 650px;
        height: 900px;
        background: rgba(187, 27, 27, 0.3);


        -webkit-box-shadow: 0px 0px 50px 25px rgba(51, 51, 51, 0.47);
        box-shadow: 0px 0px 50px 25px rgba(51, 51, 51, 0.47);
        border-radius: 30px;
        backdrop-filter: blur(5px);

        .photoCarte {
            margin-top: 8%;
            width: 320px;
            height: 320px;
            border-radius: 50%;
            object-fit: cover;
            backdrop-filter: none;
            filter: grayscale(100);
        }

        .titreCarte {
            font-size: 30px;
            color: #fff;
            backdrop-filter: none;
            margin-top: 2%;
        }

        .descriptionCarte {
            margin-top: 2%;
            margin-bottom: 4%;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: #fff;
        }
    }
}

.descriptionCarte {
    .descriptionCompetences {
        margin-top: 5%;
    }
}

.liensCarte {
    margin-bottom: 2%;
}

.liensContact {
    margin-bottom: 25px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  

    .boutonEmail {

        text-align: center;
        width: 260px;
        margin-bottom: 2%;
        border-radius: 10px;
        border: 2px solid black;
        padding: 9% 7%;
        background-color: black;
        color: #ffff;
        font-weight: 500;
        font-size: 22px;
    }
  
}
.liensContact{
    .boutonEmail:hover {
        background: #e1e1e100;
        border: 2px solid #FFF;
        color: #fff;
}
    
}


.middle-line {
    border-left: 1px solid #fff;
    height: 87%;
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 50px 25px rgb(187, 27, 27, 0.2);
    display: none;
}

.mainProjet {
    display: flex;
    justify-content: space-evenly;
}

.parentProjet {
    width: 45%;

    .titreProjets {
        color: #fff;
        text-align: center;
        padding: 0 2% 0 2%;
        line-height: 3;
        font-size: 27px;
    }

    .projet {
        border-radius: 20px;
        width: 100%;
        padding: 3%;
        margin-top: 2%;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        height: 302px;
        background: rgba(187, 27, 27, 0.4);
        -webkit-box-shadow: 0px 0px 50px 25px rgba(51, 51, 51, 0.3);
        box-shadow: 0px 0px 50px 25px rgba(51, 51, 51, 0.3);
        text-align: center;
        color: #fff;
        flex-direction: column;
        justify-content: space-between;
    }


}

.projet {
    .titreProjet {
        padding-bottom: 2%;
    }

    .dateProjet {
        padding-bottom: 2%;
    }

    .descriptionProjet {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;

    }

    .lienProjet {
        padding: 1% 3%;
        background-color: black;
        width: 173px;
        color: #fff;
        border-radius: 5px;
        border: 2px solid transparent;
    }

    .lienProjet:hover {
        background: #e1e1e100;
    border: 2px solid #fff;
    color: #fff;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:rgba(0, 0, 0, 0.3);
   
    height: 200px;
}
.parentCitation{
    color: #fff;
    
    .citation {
        padding: 2% 5% 2% 5%;
    }
}

@media screen and (max-width: 1230px) {


    .mainProjet {
        flex-direction: column;
        align-items: center;
    }

    .parentProjet {
        width: 90%;

    }
}

@media screen and (max-width: 900px) {


    .ecran {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {

    .ecran {
        .carte {
            margin-top: 15%;
            margin-bottom: 15%;
            height: 720px;

            .photoCarte {
                width: 230px;
                height: 230px;
            }

            .titreCarte {
                font-size: 22px;
            }

            .descriptionCarte {
                font-size: 17px;
            }
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .iconCarte {
        width: 20px;
        height: 20px;
    }

    .descriptionCarte {

        .descriptionCompetences {
            padding-left: 6%;
            padding-right: 6%;
        }
    }

    .liensCarte {
        .liensNav {
            width: 60px;
            height: 60px;
        }
    }

    .liensContact {
        .boutonEmail {
            width: 218px;
            font-size: 19px;
        }
    }

  .projet{
    .descriptionProjet{
        padding-bottom: 3%;
    }
  }


}